<!DOCTYPE html>
<html>


<head>
    <title>Filter Table</title>
    <link href="../stylesheets/bidstyle.css" rel="stylesheet">
</head>


<body>
    
    <table id="myTable">
        <tr id="HeadRow">
            <td>Oid</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Bid Placed</td>
            <td>Status</td>
        </tr>


        
    </table>

</body>
</html>
