<html>
<head>
<title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/contactStyle.css">
<body>
    <div class="contactbox">
    <img src="/public/images/paw.png" class="paw">
        <h1>Contact Us</h1>
        <form>
            <p class="heading">Name</p>
            <input type="text" name="" placeholder="Enter Name">
            <p class="heading">Email</p>
            <input type="email" name="" placeholder="Enter Email">
            <p class="heading">Message</p>
            <textarea></textarea>
            <input type="submit" name="" value="Submit">
            <p class="msg">If you require more assistance, please call +65 6111 2571</p>
        </form>
        
    </div>

</body>
</head>
</html>