<!--index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Company Website</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/styling.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

  </head>
  <body>
    <!-- Create Nav Bar -->
    <nav role = "navigation" class = "navbar navbar-inverse">
        <div class = "container-fluid">
            <div class ="navbar-header">
                <a class = "navbar-brand" href= "#">
                    <img src="images/paw.png" class ="logo">
                </a>
                <button type ="button" class ="navbar-toggle" data-target ="#navbarCollapse" data-toggle = "collapse">
                    <span class ="sr-only">Toggle navigation</span>
                    <span class ="icon bar"></span>
                    <span class ="icon bar"></span>
                    <span class ="icon bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse" id ="navbarCollapse">
                <ul class ="nav navbar-nav">
                    <li><a href="../login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Create Header --> 
    <div class="jumbotron">
        <div class ="container">
            <h1> Find a trusted caretaker in your Community!</h1>
        </div>
    </div>
      
    <!-- Create Icons With Text --> 
    <div class="icons">
        <div class="container"> 
            <div class="row">
                <div class= "col-md-4">
                    <a href ="../search"> <img src="images/Planit.png" class="bodyimage"></a>
                    <h2>Plan it</h2>
                    <p>Looking for a quick getaway but no one to look after your pets? Plan ahead with GrabPet!</p>
                    </div>
                <div class= "col-md-4">
                     <a href = "../search"> <img src="images/Careit.png" class="bodyimage"> </a>
                    <h2>Care it</h2>
                    <p>Love pets and have time to spare? Signup now as a pet caretaker! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <!-- Create Footer -->
    <div class ="footer">
      <div class ="container-fluid">
            <p> &copy; Developed by Team69. Created my free logo at LogoMakr.com</p>
        </div>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>