<!DOCTYPE html>
<html>
<head>
<title>Search form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/searchStyle.css">
<body>
    <div class="searchbox">
    <img src="images/paw.png" class="paw">
        <h1>Search for your perfect caretaker!</h1>
        <form>    
            <p>Street Name</p>
            <input type="text" name="" placeholder="Enter Street"> 
            <p>Date</p>
            <input type="text" name="" placeholder="From: DD/MM/YY">
            <input type="text" name="" placeholder="To: DD/MM/YY">
 
            <p>Type of Caretaking</p>
            <select name = "caretake-type" id="caretake-type">
                <option value = "Pet Day Care"> Dog </option>
                <option value = "Night Visits"> Cat </option>
                <option value = "House Sitting"> Snake </option>
            </select>

            <input type="submit" name="" value="Search">
        </form>
        
    </div>

</body>
</head>
</html>