<!DOCTYPE html>
<html>
    <head> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <link rel= "stylesheet" href="../stylesheets/servicesStyle.css">
        
    <title>Services</title>
    </head>
    
<body>
    <div class="optionsDiv">
        Show:
        <select id="selectField">
            <option value="All" selected>All</option>
            <option value="SID">Services</option>
            <option value="Pet Type">Pet Type</option>
            <option value="Start Date">Start Date</option>
            <option value="End Date">End Date</option>
            <option value="minWage">Min Wages</option>
        </select>
   
    </div>
    <table id="myTable">
        <tr id="HeadRow">
            <td>Services ID</td>
            <td>Pet Type</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>minWage</td>
            
        </tr>
    </table>

</body>


    
</html>
