<html>
<head>
<title>Signup form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style1.css">
<body>
    <div class="signupbox">
    <img src="images/paw.png" class="paw">
        <h1>Signup Here</h1>
        <form>    
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username"> 
            <p>Email</p>
            <input type="email" name="" placeholder="Enter Email">
            <p>New Password</p>
            <input type="password" name="" placeholder="Enter New Password">
            <p>Confirm New Password</p>
            <input type="password" name="" placeholder="Confirm New Password">

            <label>Owner <input type="radio" name="Owner" value ="Owner"></label>  
            <label>Caretaker <input type="radio" name="Caretaker" value ="Caretaker"></label> 
            <p>Pet Preference</p>
            <select name = "pet-type" id="pet-type">
                <option value = "Dog"> Dog </option>
                <option value = "Cat"> Cat </option>
                <option value = "Snake"> Snake </option>
                <option value = "NIL"> NIL </option>
            </select>

            <input type="submit" name="" value="Signup">
        </form>
        
    </div>

</body>
</head>
</html>