/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
    body {
        font-family: 'Open Sans', sans-serif;
        color: #353535;
    }
    .content h1 {
        text-align: center;
        color: white;

    }
    .content .content-footer p {
        color: #6d6d6d;
        font-size: 12px;
        text-align: center;
    }
    .content .content-footer p a {
        color: inherit;
        font-weight: bold;
    }
    
    /*	--------------------------------------------------
        :: Table 
        -------------------------------------------------- */
    .panel {
        border: 10px solid #ddd;
        background-color: #fcfcfc;
    }
    .panel .btn-group .add-btn {
        margin: 15px 0 30px;
    }
    
    .panel .btn-group .btn {
        transition: background-color .3s ease;
    }
    .table {
        background-color: lightblue;
        border-bottom: 1px solid #eee;
    }
    .table tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }
    .table tbody td {
        padding:5px;
        border:1px solid black;
        text-align:left;
    }
    .table tbody tr.selected td {
        background-color: #eee;
    }

    
    table.table td .add {
        display: none;
    }

    table.table td .update {
        display: none;
    }

    caption{
        color: aliceblue;
    }

    .table-wrapper{
      color: white;  
    }

    #HeadRow{
        background:rgb(78, 210, 228);
        color:white;
        font-weight:bold;
    }